#eventTable {

    tr.aka-event-row {
        padding     : 10px;
        line-height : 20px;

        td.eventDate {
            width : 100px;
        }

        td.eventName {
            width       : 250px;
            font-weight : bolder;
        }

        td.eventLocation {
            width : 150px;
        }

        td.eventCost {
            width : 100px;
        }

        td.eventOptions {
            button.delete {
                color : #f00;
            }

            button.edit {
                color : #00f;
            }
        }
    }

}