#addEvent label {
  width: 150px;
  font-weight: bolder;
  display: inline-block;
}
#addEvent input {
  width: 200px;
  padding: 5px;
  margin: 5px 10px;
}
#addEvent .errorMsg {
  display: block;
  color: #f00;
}

#eventTable tr.aka-event-row {
  padding: 10px;
  line-height: 20px;
}
#eventTable tr.aka-event-row td.eventDate {
  width: 150px;
}
#eventTable tr.aka-event-row td.eventName {
  width: 300px;
  font-weight: bolder;
}
#eventTable tr.aka-event-row td.eventLocation {
  width: 300px;
}
#eventTable tr.aka-event-row td.eventCost {
  width: 100px;
}
#eventTable tr.aka-event-row td.eventOptions button.delete {
  color: #f00;
}
#eventTable tr.aka-event-row td.eventOptions button.edit {
  color: #00f;
}
